    <footer class="page-footer blue-grey darken-1" style="position: absolute; bottom: 0; width: 100%">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Limitations</h5>
                    <p class="grey-text text-lighten-4">If you need to store files for a longer time, you can deploy your own version of Uguu, the sources are available on Github.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
