    <footer class="page-footer blue-grey darken-1" style="position: absolute; bottom: 0; width: 100%">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Pomf</h5>
                    <p class="grey-text text-lighten-4">If you need to store files for a longer time, please use <a style="color: #bbdefb" href="http://pomf.se">Pomf.se</a> or wait until Uguu offers longer time.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/nekunekus">@nekunekus</a></li>
                        <li><a class="grey-text text-lighten-3" href="mailto:neku@pomf.se">neku@pomf.se</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>