<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Info</span>
                    <p>Store (*almost) any filetype with a size up to 100MB for up to 24 hours.
                    Uguu cares about your privacy and stores NO logs.</p>
                    <p>*Due to malicious files being uploaded the following filetypes are not allowed: exe, scr, rar, zip, com, vbs, bat, cmd, html, htm, msi, dll.</p>
                    <span class="card-title">Tools</span>
                    <p>ShareX: <a href="https://getsharex.com">https://getsharex.com</a></p>
                    <span class="card-title">API</span>
                    <p>To upload using curl or make a tool you can post using:<br />
                        <code>curl -i -F name=test.jpg -F file=@localfile.jpg https://uguu.se/api.php?d=upload</code> (HTML Response)<br />
                        <code>curl -i -F name=test.jpg -F file=@localfile.jpg https://uguu.se/api.php?d=upload-tool</code> (Plain text Response)</p>
                </div>
            </div>
        </div>
    </div>
</div>
