<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title" style="color: #00FF99"><h3>File uploaded!</h3></span>
                        <p><a href="{$url_filename}" target="_blank">{$url_filename}</a></p>
                        <p>Your file will be available for download during {$retention_time}.</p>
                </div>
            </div>
        </div>
    </div>
</div>
