<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Uguu <%= pkgVersion %>">
    <meta name="description" content="<%= SiteMetaInfo %>">
    <title><%= siteName %> &middot; <%= subTitle %></title>
    <link rel="preload" href="uguu.min.css" as="style"/>
    <link rel="preload" href="uguu.min.js" as="script"/>
    <link rel="stylesheet" href="uguu.min.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
</head>
<body>