<h1><%= siteName %>~</h1>
<p class="lead">
    Max upload size is <%= max_upload_size %>&nbsp;MiB & files expire after <%= expireTime %> <%= expireTimeUnit %>, read the&nbsp;
    <a href="faq.html">
        <abbr title="Frequently asked questions">FAQ</abbr>
    </a>.
</p>