<nav>
    <ul>
        <li>
            <a href="/"><%= siteName %></a>
        </li>
        <li>
            <a href="api.html">API</a>
        </li>
        <li>
            <a href="faq.html">FAQ</a>
        </li>
        <% if (showGithub) { %>
            <li>
                <a href="https://github.com/nokonoko/uguu">Github</a>
            </li>
        <% } %>
    </ul>
</nav>